
ul
{
    margin:10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: left;
    border:2px solid blue;
    background: yellow;
    box-shadow: border-box;
}
ul li
{
    padding-left:20px;
    font-weight: bold;
    list-style-type:none;
}
*
{
text-decoration: none;
}